<a href="https://colab.research.google.com/github/RocioLiu/Coding_Resources/blob/master/01_Sequence_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Sequence Types**
Sequence types have the general concept of a first element, a second element, and so on. Sequence types are indexable, which means we can reference element inside the sequence by its position.

Basically an ordering of the sequence items using the natural numbers. In Python (and many other languages) the starting index is set to 0, not 1.  
  
So the first item has index 0, the second item has index 1, and so on.

In [ ]:
l = [1,2,3]
t = (1,2,3)
s = 'python'

We can reference the element in a sequence:

In [ ]:
l[0]

1

In [ ]:
t[1]

2

In [ ]:
s[2]

't'

#### **Iterables**
An **iterable** is just something that can be iterated over, for example using a for loop:

In [ ]:
for c in s:
  print(c)

p
y
t
h
o
n

In [ ]:
s = {10, 20 ,30}

In [ ]:
for e in s:
  print(e)

10
20
30

In [ ]:
t = (10, 'a', 1+3j)
s = {10, 'a', 1+3j}

In [ ]:
for c in t:
  print(c)

10
a
(1+3j)

In [ ]:
for c in s:
  print(c)

a
10
(1+3j)

Note how we could iterate over both the tuple and the set. Iterating the tuple preserved the **order** of the elements in the tuple, but not for the set. **Sets do not have an ordering of elements - they are iterable, but not sequences**.

In [ ]:
s[0]

TypeError: ignored

Python has built-in mutable and immutable sequence types.

**Strings, tuples are immutable** - we can access but not modify the **content** of the **sequence**:

In [ ]:
l = [1,2,3]
t = (1,2,3)

In [ ]:
print(l[0])
print(t[0])

1
1

In [ ]:
l[0] = 100
l[0]

100

In [ ]:
t[0] = 100
t[0]

TypeError: ignored

But of course, if the sequence contains mutable objects, then although we cannot modify the sequence of elements (cannot replace, delete or insert elements), we certainly can change the contents of the mutable objects:

In [ ]:
t = ([1,2], 3, 4)

In [ ]:
t[0] = [1,2,3]

TypeError: ignored

`t` is immutable, but its first element is a mutable object:

In [ ]:
t[0][0] = 100
t

([100, 2], 3, 4)

Most sequence types support the `in` and `not in` operations. `Ranges `do too, but not quite as efficiently as lists, tuples, strings, etc.

In [ ]:
'a' in ['a', 'b', 100]

True

In [ ]:
100 in range(200)

True

####**Min, Max and Length**
Sequences also generally support the `len` method to obtain the number of items in the collection. Some iterables may also support that method.

In [ ]:
len('python'), len([1, 2, 3]), len({10, 20, 30}), len({'a': 1, 'b': 2})

(6, 3, 3, 2)

Sequences (and even some iterables) may support `max` and `min` as long as the data types in the collection can be **ordered** in some sense (< or >).

In [ ]:
a = [100, 300, 200]
min(a), max(a)

(100, 300)

In [ ]:
s = 'Python'
min(s), max(s)

('P', 'y')

In [ ]:
s = {'p', 'y', 't', 'h', 'o', 'n'}
min(s), max(s)

('h', 'y')

But if the elements do not have an ordering defined:

In [ ]:
l = [2+2j, 10+10j, 100+100j]
min(l), max(l)

TypeError: ignored

min and max will work for heterogeneous types as long as the elements are pairwise comparable (< or > is defined).

For example:

In [ ]:
from decimal import Decimal

In [ ]:
t = 10, 20.5, Decimal('30.5')

In [ ]:
min(t), max(t)

(10, Decimal('30.5'))

In [ ]:
t = ['a', 10, 1000]
min(t)

TypeError: ignored

Even range objects support `min` and `max`:

In [ ]:
r = range(10, 200)
min(r), max(r)

(10, 199)

#### **Concatenation**  
We can **concatenate** sequences using the + operator:

In [ ]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [ ]:
(1,2,3) + [4,5,6]

TypeError: ignored

In [ ]:
'abc' + ['d', 'e', 'f']

TypeError: ignored

Note: if you really want to concatenate varying types you'll have to transform them to a common type first:

In [ ]:
tuple('abc') + ('d', 'e', 'f')

('a', 'b', 'c', 'd', 'e', 'f')

In [ ]:
'*'.join(tuple('abc') + ('d', 'e', 'f'))

'a*b*c*d*e*f'

In [ ]:
''.join(tuple('abc') + ('d', 'e', 'f'))

'abcdef'

#### **Repetition**   
Most sequence types also support **repetition**, which is essentially concatenating the same sequence an integer number of times:

In [ ]:
'abc' *3

'abcabcabc'

In [ ]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]


We'll come back to some caveats of concatenation and repetition in a bit.

#### **Finding things in Sequences**  
We can find the index of the occurrence of an element in a sequence:

In [2]:
s = "gnu's not unix"

In [3]:
list(enumerate(s))

[(0, 'g'),
 (1, 'n'),
 (2, 'u'),
 (3, "'"),
 (4, 's'),
 (5, ' '),
 (6, 'n'),
 (7, 'o'),
 (8, 't'),
 (9, ' '),
 (10, 'u'),
 (11, 'n'),
 (12, 'i'),
 (13, 'x')]

In [4]:
s.index('n', 1), s.index('n', 2), s.index('n', 8) # where to start the looking? after position 8, it'll give us 11

(1, 6, 11)

In [5]:
s.index('n', 7)

11

An exception is raised of the element is not found, so you'll want to catch it if you don't want your app to crash:

In [7]:
s.index('n', 12)

ValueError: ignored

In [8]:
try:
  idx = s.index('n', 12)
except ValueError:
  print('not found')

not found

Note that these methods of finding objects in sequences do not assume that the objects in the sequence are ordered in any way. These are basically searches that iterate over the sequence until they find (or not) the requested element.

If you have a sorted sequence, then other search techniques are available - such as binary searches. I'll cover some of these topics in the extras section of this course.

#### **Slicing**
We'll come back to slicing in a later lecture, but sequence types generally support slicing, even ranges (as of Python 3.2). Just like concatenation, slices will return the same type as the sequence being sliced:

In [9]:
s = 'python'
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
s[0:3], s[4:6]

('pyt', 'on')

In [11]:
l[0:3], l[4:6]

([1, 2, 3], [5, 6])

It's ok to extend ranges past the bounds of the sequence:

In [12]:
s[4:100]

'on'

In [13]:
s[0:3], s[:3]

('pyt', 'pyt')

In [14]:
s[3:100], s[3:], s[:]

('hon', 'hon', 'python')

We can even have extended slicing, which provides a start, stop and a step:

In [15]:
s, s[0:5], s[0:5:2]

('python', 'pytho', 'pto')

In [16]:
s, s[::2]

('python', 'pto')

Technically we can also use negative values in slices, including extended slices (more on that later):

In [17]:
s, s[-3:-1], s[::-1]

('python', 'ho', 'nohtyp')

In [18]:
s[0:5:-1]  # it shows '', since we can't never get to 5 with the step -1

''

In [19]:
s[5:0:-1]

'nohty'

In [20]:
r = range(11)  # numbers from 0 to 10 (inclusive)

In [21]:
print(r)
print(list(r))

range(0, 11)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
print(r[:5])

range(0, 5)

In [23]:
print(list(r[:5]))

[0, 1, 2, 3, 4]

As you can see, slicing a range returns a range object as well, as expected.

#### **Hashing**
Immutable sequences generally support a hash method that we'll discuss in detail in the section on mapping types: