<a href="https://colab.research.google.com/github/RocioLiu/Coding_Resources/blob/master/01_Sequence_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Sequence Types**
Sequence types have the general concept of a first element, a second element, and so on. Sequence types are indexable, which means we can reference element inside the sequence by its position.

Basically an ordering of the sequence items using the natural numbers. In Python (and many other languages) the starting index is set to 0, not 1.  
  
So the first item has index 0, the second item has index 1, and so on.

In [ ]:
l = [1,2,3]
t = (1,2,3)
s = 'python'

We can reference the element in a sequence:

In [ ]:
l[0]

1

In [ ]:
t[1]

2

In [ ]:
s[2]

't'

#### **Iterables**
An **iterable** is just something that can be iterated over, for example using a for loop:

In [ ]:
for c in s:
  print(c)

p
y
t
h
o
n

In [ ]:
s = {10, 20 ,30}

In [ ]:
for e in s:
  print(e)

10
20
30

In [ ]:
t = (10, 'a', 1+3j)
s = {10, 'a', 1+3j}

In [ ]:
for c in t:
  print(c)

10
a
(1+3j)

In [ ]:
for c in s:
  print(c)

a
10
(1+3j)

Note how we could iterate over both the tuple and the set. Iterating the tuple preserved the **order** of the elements in the tuple, but not for the set. **Sets do not have an ordering of elements - they are iterable, but not sequences**.

In [ ]:
s[0]

TypeError: ignored

Python has built-in mutable and immutable sequence types.

**Strings, tuples are immutable** - we can access but not modify the **content** of the **sequence**:

In [ ]:
l = [1,2,3]
t = (1,2,3)

In [ ]:
print(l[0])
print(t[0])

1
1

In [ ]:
l[0] = 100
l[0]

100

In [ ]:
t[0] = 100
t[0]

TypeError: ignored

But of course, if the sequence contains mutable objects, then although we cannot modify the sequence of elements (cannot replace, delete or insert elements), we certainly can change the contents of the mutable objects:

In [ ]:
t = ([1,2], 3, 4)

In [ ]:
t[0] = [1,2,3]

TypeError: ignored

`t` is immutable, but its first element is a mutable object:

In [ ]:
t[0][0] = 100
t

([100, 2], 3, 4)

Most sequence types support the `in` and `not in` operations. `Ranges `do too, but not quite as efficiently as lists, tuples, strings, etc.

In [ ]:
'a' in ['a', 'b', 100]

True

In [ ]:
100 in range(200)

True

####**Min, Max and Length**
Sequences also generally support the `len` method to obtain the number of items in the collection. Some iterables may also support that method.

In [1]:
len('python'), len([1, 2, 3]), len({10, 20, 30}), len({'a': 1, 'b': 2})

(6, 3, 3, 2)

Sequences (and even some iterables) may support `max` and `min` as long as the data types in the collection can be **ordered** in some sense (< or >).

In [3]:
a = [100, 300, 200]
min(a), max(a)

(100, 300)

In [5]:
s = 'Python'
min(s), max(s)

('P', 'y')

In [6]:
s = {'p', 'y', 't', 'h', 'o', 'n'}
min(s), max(s)

('h', 'y')

But if the elements do not have an ordering defined:

In [4]:
l = [2+2j, 10+10j, 100+100j]
min(l), max(l)

TypeError: ignored

min and max will work for heterogeneous types as long as the elements are pairwise comparable (< or > is defined).

For example:

In [7]:
from decimal import Decimal

In [8]:
t = 10, 20.5, Decimal('30.5')

In [9]:
min(t), max(t)

(10, Decimal('30.5'))

In [10]:
t = ['a', 10, 1000]
min(t)

TypeError: ignored

Even range objects support `min` and `max`:

In [12]:
r = range(10, 200)
min(r), max(r)

(10, 199)

**Concatenation**  
We can **concatenate** sequences using the + operator: