<a href="https://colab.research.google.com/github/RocioLiu/Coding_Resources/blob/master/02_Mutable_Sequence_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Mutable Sequences**
When dealing with mutable sequences, we have a few more things we can do - essentially adding, removing and replacing elements in the sequence.

This **mutates** the sequence. The sequence's memory address has not changed, but the internal **state** of the sequence has.

### **Replacing Elements**
We can replace a single element as follows:

In [ ]:
l = [1, 2, 3,4, 5]
print(id(l))
l[0] = 'a'
print(id(l), l)

140429516345504
140429516345504 ['a', 2, 3, 4, 5]

We can remove all elements from the sequence:

In [ ]:
l = [1, 2, 3, 4, 5]
l.clear()
print(l)

[]

Note that this is **NOT** the same as doing this:

In [ ]:
l = [1, 2, 3,4, 5]
l = []
print(l)

[]

The net effect may look the same, l is an empty list, but observe the memory addresses:

In [ ]:
l = [1, 2, 3, 4, 5]
print(id(l))
l = []
print(l, id(l))

140429449013280
[] 140429449126448

In the second case you can see that the object referenced by l has changed, but not in the first case.
   
Why might this be important?
   
Suppose you have the following setup:

In [ ]:
suits = ['Spades', 'Hearts', 'Diamonds', 'Clubs']
alias = suits
suits = []
print(suits, alias)

[] ['Spades', 'Hearts', 'Diamonds', 'Clubs']

In [ ]:
suits = ['Spades', 'Hearts', 'Diamonds', 'Clubs']
alias = suits
suits.clear()
print(suits, alias)

[] []

Big difference!!
   
We can also replace elements using slicing and extended slicing. Here's an example, but we'll come back to this in a lot of detail:

In [ ]:
l = [1, 2, 3, 4, 5]
print(id(l))
l[0:2] = ['a', 'b', 'c', 'd', 'e']
print(id(l), l)

140429448509472
140429448509472 ['a', 'b', 'c', 'd', 'e', 3, 4, 5]

This is not the same thing as the concatenation, which will end up with a new sequence.

In [ ]:
l = [1,2,3]
id(l)

139688991660384

In [ ]:
l = l + [4]
print(l)
id(l)

[1, 2, 3, 4]

139688863519200

### **Appending and Extending**
We can also append elements to the sequence (note that this is **not** the same as concatenation):

In [ ]:
l = [1,2,3]
print(id(l))
l.append(4)
print(l, id(l))

139688930446064
[1, 2, 3, 4] 139688930446064

If we had "appended" the value 4 using concatenation:

In [ ]:
l = [1, 2, 3]
print(id(l))
l = l + [4]
print(id(l), l)

139688863029280
139688862753168 [1, 2, 3, 4]

If we want to add more than one element at a time, we can extend a sequence with the contents of any iterable (not just sequences):

In [ ]:
l = [1,2,3,4,5]
print(id(l))
l.extend({'a','b','c'})
print(id(l), l)

139688862732928
139688862732928 [1, 2, 3, 4, 5, 'a', 'b', 'c']

compared with below which append the iterable itself:

In [ ]:
l = [1,2,3,4,5]
l.append(['a','b','c'])
l

[1, 2, 3, 4, 5, ['a', 'b', 'c']]

But the elements inside the `extend()` need to be iterable

In [ ]:
l=[1,2,3]

In [ ]:
l.extend(4)

TypeError: ignored

In [ ]:
l.extend([4])
l

[1, 2, 3, 4]

Of course, since we extended using a set, there was not gurantee of positional ordering.

If we extend with another sequence, then positional ordering is retained:

In [ ]:
l = [1,2,3]
print(id(l))
l.extend(('a','b','c'))
print(l, id(l))

139688862658464
[1, 2, 3, 'a', 'b', 'c'] 139688862658464

### **Removing Elements**
We can remove (and retrieve at the same time) an element from a mutable sequence at a given position:

In [ ]:
l = [1,2,3,4]
print(id(l))
popped = l.pop(1)
print(id(l), popped, l)

140370810217088
140370810217088 2 [1, 3, 4]

If we do not specify an index for pop, then the last element is popped:

In [ ]:
l = [1,2,3,4]
popped = l.pop()
print(popped)
print(id(l), popped, l)

4
140370810176928 4 [1, 2, 3]

### **Inserting Elements**
We can insert an element at a specific index. What this means is that the element we are inserting will be **at** that index position, and element that was at that position and all the remaining elements to the right are pushed out:

In [1]:
l = [1, 2, 3, 4]
print(id(l))
l.insert(1, 'a')
print(id(l), l)

139746937526864
139746937526864 [1, 'a', 2, 3, 4]

### **Reversing a Sequence**
We can also do in-place reversal:

In [2]:
l = [1, 2, 3, 4]
print(id(l))
l.reverse()
print(id(l), l)

139746875407088
139746875407088 [4, 3, 2, 1]

We can also reverse a sequence using extended slicing (we'll come back to this later):

In [3]:
l = [1, 2, 3, 4]
l[::-1]

[4, 3, 2, 1]

But this is **NOT** mutating the sequence - the slice is returning a **new** sequence - that happens to be reversed.

In [4]:
l = [1, 2, 3, 4]
print(id(l))
l = l[::-1]
print(id(l), l)

139746808358864
139746808489936 [4, 3, 2, 1]

### **Copying Sequences**
We can create a copy of a sequence:

In [6]:
l = [1, 2, 3, 4]
print(id(l))
l2 = l.copy()
print(id(l2), l2)

139746808407136
139746808271088 [1, 2, 3, 4]

Note that the id of l and l2 is not the same.

In this case, using slicing does work the same as using the copy method:

In [7]:
l = [1, 2, 3, 4]
print(id(l))
l2 = l[:]
print(id(l2), l2)

139746808161856
139746808407136 [1, 2, 3, 4]

As you can see in both cases we end up with new objects.

So, use copy() or [:] - up to you, they end up doing the same thing.

We'll come back to copying in some detail in an upcoming video as this is an important topic with some subtleties.

In [8]:
l = [['a', 'b'], 'c', 'd']
id(l), id(l[0]), id(l[1])

(139746875452064, 139746807658128, 139747501465904)

In [9]:
l2 = l.copy()
print(l2)
id(l2), id(l2[0]), id(l2[1])

[['a', 'b'], 'c', 'd']

(139746808287792, 139746807658128, 139747501465904)

The id of `l` and `l2` are defferent, but the id of `l[0]` and `l2[0]` ( the same as `l[1]` and `l2[1]` ) are the same.

In [10]:
l[0].append('x')
l

[['a', 'b', 'x'], 'c', 'd']

`l2` reflects the same change as `l`

In [11]:
l2

[['a', 'b', 'x'], 'c', 'd']